    <div class="mobile__menu" onclick="myFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    <nav class="menu-in-wrap">
      <a href="/"><i class="fas fa-home house-in"></i></a>
      <ul>
        <li><a href="/ecrits" class="menu-in ecrit-in">Écrits</a></li>
        <li><a href="/projets" class="menu-in projet-in">Projets</a></li>
        <li><a href="/blog" class="menu-in blog-in">Blog</a></li>
        <li><a href="/cv" class="menu-in cv-in">CV</a></li>
        <li><a href="/apropos" class="menu-in apropos-in">À propos</a></li>
      </ul>
      <a href="/panoptique"><i class="fas fa-eye eye-in"></i></a>
    </nav>
