<footer class="footer">
  <div class="footer-container">
    <hr />
    <p>
      <a href="/mentions-legales" class="ft-item" data-hover="Mentions légales">Mentions légales</a> -
      <a href="/contact" class="ft-item" data-hover="Contact">Contact</a> -
      <a href="/plan-du-site" class="ft-item" data-hover="Plan du site">Plan du site</a>
    </p>
    <button id="modalButton">Version</button>
  </div>
</footer>

<script src="/js/aos.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/main.min.js"></script>
