<div id="modalVersion" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Version du site</h2>
    </div>
    <div class="modal-body">
      <h3>1.2.2 - Weeb Delight - 21 septembre</h3>
      <ul>
        <li>- 3 nouveaux textes: <i>Anohana</i>, <i>Ping Pong the Animation</i> et <i>Sidonia no Kishi 2</i></li>
        <li>- Mise en place du flux RSS sur la page des textes avec l'icône (aussi rajoutée pour le flux du blog)</li>
        <li>- Les vidéos <i>witness purple</i>, <i>thumper</i> et <i>witness coast</i> sont plus légères</li>
        <li>- Minification et fusion des fichiers de CSS et de JS</li>
      </ul>
      <p>
        Plus de détails dans <a href="https://nicolasmoisson.fr/blog/version-122-notes-de-mise-a-jour">les notes de mise à jour</a>
      </p>
      <h3>1.2.1 - 22 juillet</h3>
      <ul>
        <li>- 2 nouveaux textes de fiction, <i>Cycles</i> et <i>À malin, malin et demi</i></li>
        <li>- Mise en place du lecteur audio pour écouter un morceau d'ambiance ou d'OST selon le texte</li>
        <li>- Correction de quelques images trop grandes</li>
        <li>- Correction de quelques typos</li>
      </ul>
      <p>
        Plus de détails dans <a href="https://nicolasmoisson.fr/blog/version-121-notes-de-mise-a-jour">les notes de mise à jour</a>
      </p>
      <h3>1.2.0 - Time to go mobile! - 9 juillet</h3>
      <p>
        Le site est désormais compatible pour la navigation sur mobile et sur tablette. Plus de détails dans <a href="https://nicolasmoisson.fr/blog/version-120-notes-de-mise-a-jour">les notes de mise à jour</a>
      </p>
      <ul>
        <li>- Mise en place du responsive design</li>
        <li>- Création d'un flux RSS pour la section blog</li>
        <li>- Mise en place du plugin pour personnaliser les cartes FB et Twitter sur chaque billet de blog</li>
        <li>- Compression des webm dans la partie Cv ludo</li>
        <li>- Nouvelle optimisation et compression des éléments partout</li>
        <li></li>
      </ul>
      <h3>1.0.6 - Dustforce squad coming through! - 1er juin</h3>
      <ul>
        <li>- Vérification de la présence des tags méta (notamment og et twitter) et des alts sur toutes les pages</li>
        <li>- Correction de l'animation du menu sur les textes, qui entrait en conflit avec l'image de couverture</li>
        <li>- Compression des images pour rendre le site plus léger et la navigation encore plus rapide</li>
      </ul>
      <h3>1.0.0 - Inauguration - 20 mai</h3>
      <p>
        Le design global et la palette de couleurs sont en place.
      </p>
      <ul>
        <li>- <i>Écrits:</i> 22 textes</li>
        <li>- <i>Accueil:</i> 19 vidéos dans 8 jeux</li>
        <li>- <i>Projets:</i> 7 projets avec liens</li>
      </ul>
    </div>
  </div>
</div>
